@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://res.cloudinary.com/efrenmartinez/raw/upload/v1615786779/prueba-elephant-pink/fonts/Poppins-Light_tsbuqx.ttf') format('truetype');
}

@font-face {
    font-family: 'Didot';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://res.cloudinary.com/efrenmartinez/raw/upload/v1615786779/prueba-elephant-pink/fonts/Didot-HTF-L11-Light_h2hgge.otf') format('truetype');
}

@font-face {
    font-family: 'Blesing';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://res.cloudinary.com/efrenmartinez/raw/upload/v1615786779/prueba-elephant-pink/fonts/Blesing_cfpnyu.otf') format('truetype');
}
